<h2>Agregar un nuevo Modelo</h2>
<%= simple_form_for @model, html: {class: 'form-horizontal' } do |f| %>
    <%= f.input :species %>
    <%= f.input :url %>
    <%= f.input :model_date %>
    <%= f.input :rating, collection: 1..5 %>
    <%= f.input :author %>
    <% if @model.errors[:model].any? %>
      <p class='error-messages'>
        The given url <%= @model.errors[:model].to_sentence %>.
      </p>
    <% end %>
    <%= f.button 'Agregar' %>
<% end %>

<%= link_to "Index", models_path %>