
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="mapasmod" id="map"></div>
<div class="findbar">Busqueda de Modelos</div>
<div class="selectores">
	<p class="titulomapa">Selecciona una categoría</p>
	<a href="#"><%= image_tag("anfibiosg.png", :title => 'Anfibios') %></a>
	<a href="#"><%= image_tag("avesg.png", :title => 'Aves') %></a>
	<a href="#"><%= image_tag("invertebradosg.png", :title => 'Invertebrados') %></a>
	<a href="#"><%= image_tag("mamiferosg.png", :title => 'Mamiferos') %></a>
	<a href="#"><%= image_tag("pecesg.png", :title => 'Peces') %></a>
	<a href="#"><%= image_tag("reptilesg.png", :title => 'Reptiles') %></a>
	<a href="#"><%= image_tag("plantasg.png", :title => 'Plantas') %></a>
<div>
<%= javascript_include_tag 'leaflet.draw' %>
<%= javascript_include_tag 'mapEditor' %>
