<%= content_tag :div, :id => "comment-#{comment.id}", :class => 'comment-tab' do %>
	<div class="minavatar"><%= image_tag("minavatar.png") %></div>
		<%= link_to User.find(comment.user_id).name, root_url + 'users/'+ comment.user_id.to_s, {:class => 'feeduserp' } %>
		<div class="feedtimep2"><%= comment.updated_at %></div>
		<div class="comment-space"><p class="feedcontentp2"><%= comment.body %></p></div>
		<% if user_signed_in? %>
			<div class="btn-reply-cmt"><%= link_to 'Responder', comments_child_comments_path(:parent_id => comment.id), :remote => true, :class => 'reply replyfl' %></div>
			<% if comment.has_children? %>
				<div class="clearfix"></div>
			<% end %>
			<% if comment.user_id == get_current_user_id %>
				<div class="btn-edit-cmt"><%= link_to 'Editar', edit_comment_path(:id => comment.id), :remote => true, :class => 'reply replyfl' %></div>
				<div class="btn-delete-cmt">
					<% if !comment.has_children? %>
						<%= link_to 'Eliminar', comment_path(:id => comment.id), method: :delete, data: { confirm: '¿Desea eliminar el comentario?' }, :class => "reply replyfl", :remote => true %>
						<div class="clearfix"></div>
					<% end %>
				</div>
			<% end %>
		<% end %>
		<% if comment.has_children? %>
			<%= render :partial => 'comments/show', :collection => comment.children, :as => :comment %>
		<% end %>
		<div class="clearfix"></div>
<% end %>