<h1><%= @species.sci_name %></h1>
<a href="" class="xcierre2">X</a>
        <div class="registros">
                    <h4>No. Registros</h4>
                    <div class="noreg"><%= @species.ocurrence_records %></div>
                    <div class="clearfix"></div>
                    <% if @species.ocurrence_records_url? %>
                        <%= link_to "Metadatos", root_url + 'metadata/'+ @species.ocurrence_records_url.split('.').first + '.html', {:target => '_blank', :class => 'verreg' } %>
                    <% end %>               
        </div>  
        <div class="resbusqueda genero clearfix"><%= @species.order %></br>
        <div class="familia"><%= @species.family %></div>
        <a href="http://www.biodiversidad.co/" class="linksib" target="_blank">www.biodiversidad.co</a></div>

        <% @level1 = 1 %>
        <% @level2 = 2 %>
        <% @level3 = 99%>
        <% @nivel2 = 2 %>

        <div class="hs clearfix" id="tabs">
                <ul class="tabsnav clearfix">
                    <% if @species.id == 5090 ||  @species.id == 5091 %>
                        <li><a href="#tabs-1" class='tabtn'>Bioclim</a></li>     
                        <li><a href="#tabs-2" class='tabtn'>BRT</a></li>
                        <li><a href="#tabs-4" class='tabtn'>Maxent</a></li>
                        <% @level1 = 97 %>
                        <% @level2 = 98 %>
                        <% @nivel2 = 1 %>
                    <% else %>
                        <li><a href="#tabs-1" class='tabtn'>Nivel 1</a></li>     
                        <li><a href="#tabs-2" class='tabtn'>Nivel 2</a></li>
                    <% end %>
                    <li><a href="#tabs-3" class='tabtn'>Consenso</a></li>
                    <div class="urls" title="Enlace directo">URL:<input id="idUrl" type="text" value="biomodelos.humboldt.org.co/models/visor?species_id=<%= @species.id %>" /></div>
                </ul>

        <div id="tabs-1">
            <div class="left-arrow">
                <a href="#prev">
                </a>
            </div>
            <div class="showcase">
                <ul class="modelost">
                    <% @models.where(:level => @level1).order(:img_url).each_with_index do |model, i| %>
                        <li class="modelothumb">
                            <div class="cajadatosm">
                            <%= link_to "#", :class => 'model_link' do%>
                                <%= hidden_field_tag('imgsrc', model.img_url) %>
                                <%= image_tag("/thumbs/"+ model.thumb_url, :height => 205, :width => 145, :id => model.id) %>
                                <div class="modeldata">
                                <h5>Modelo Nivel 1</h5>
                                <h6><b>CORTE: </b></br>
                                <%= model.description %></h6>
                                <p>Promedio:</p>
                                <h3><%= model.average_rating %></h3>
                                <p>Votos: (<%= model.total_votes %>)</p>
                                </div>
                            <% end %>
                            </div>
                            <div class="rankmod clearfix">
                                <% if user_signed_in? %>
                                    <div class="user_star">
                                        <%= hidden_field_tag('model', model.id, :class => 'mid' )  %>
                                        <%= hidden_field_tag('myscore', @ratings[model.id], :class => 'myscore')  %>
                                    </div>
                                <% end %>
                                <% if file_exists(model.id) %>
                                    <%= link_to models_download_model_path(:m_id => model.id), :class => 'download', :remote => true do %>
                                        <%= image_tag("descargar.png") %>
                                    <% end %>
                                <% end %>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="right-arrow">
                <a href="#next">
                </a>
            </div>
        </div>

        <div id="tabs-2">
             <div class="left-arrow">
                <a href="#prev">
                </a>
            </div>
            <div class="showcase2">
                <ul class="modelost">
                    <% @models.where(:level => @level2).each_with_index do |model, i| %>
                        <li class="modelothumb">
                            <div class="cajadatosm">
                            <%= link_to "#", :class => 'model_link' do%>
                                <%= hidden_field_tag('imgsrc', model.img_url) %>
                                <%= image_tag("/thumbs/"+ model.thumb_url, :height => 205, :width => 145, :id => model.id) %>
                                <div class="modeldata">
                                <h5>Modelo Nivel <%= @nivel2 %></h5>
                                <h6><b>CORTE: </b></br>
                                <%= model.description %></h6>
                                <p>Promedio:</p>
                                <h3><%= model.average_rating %></h3>
                                <p>Votos: (<%= model.total_votes %>)</p>
                                </div>
                            <% end %>
                            </div>
                            <div class="rankmod clearfix">
                                <% if user_signed_in? %>
                                    <div class="user_star">
                                        <%= hidden_field_tag('model', model.id, :class => 'mid' )  %>
                                        <%= hidden_field_tag('myscore', @ratings[model.id], :class => 'myscore')  %>
                                    </div>
                                <% end %>
                                <% if file_exists(model.id) %>
                                    <%= link_to models_download_model_path(:m_id => model.id), :class => 'download', :remote => true do %>
                                        <%= image_tag("descargar.png") %>
                                    <% end %>
                                <% end %>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="right-arrow">
                <a href="#next">
                </a>
            </div>
        </div>

        <% if @species.id == 5090 ||  @species.id == 5091 %>
            <div id="tabs-4">
                 <div class="left-arrow">
                    <a href="#prev">
                    </a>
                </div>
                <div class="showcase4">
                    <ul class="modelost">
                        <% @models.where(:level => @level3).each_with_index do |model, i| %>
                            <li class="modelothumb">
                                <div class="cajadatosm">
                                <%= link_to "#", :class => 'model_link' do%>
                                    <%= hidden_field_tag('imgsrc', model.img_url) %>
                                    <%= image_tag("/thumbs/"+ model.thumb_url, :height => 205, :width => 145, :id => model.id) %>
                                    <div class="modeldata">
                                    <h5>Modelo Nivel 1</h5>
                                    <h6><b>CORTE: </b></br>
                                    <%= model.description %></h6>
                                    <p>Promedio:</p>
                                    <h3><%= model.average_rating %></h3>
                                    <p>Votos: (<%= model.total_votes %>)</p>
                                    </div>
                                <% end %>
                                </div>
                                <div class="rankmod clearfix">
                                    <% if user_signed_in? %>
                                        <div class="user_star">
                                            <%= hidden_field_tag('model', model.id, :class => 'mid' )  %>
                                            <%= hidden_field_tag('myscore', @ratings[model.id], :class => 'myscore')  %>
                                        </div>
                                    <% end %>
                                    <% if file_exists(model.id) %>
                                        <%= link_to models_download_model_path(:m_id => model.id), :class => 'download', :remote => true do %>
                                            <%= image_tag("descargar.png") %>
                                        <% end %>
                                    <% end %>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                </div>
                <div class="right-arrow">
                    <a href="#next">
                    </a>
                </div>
            </div>
        <% end %>

        <div id="tabs-3">
             <div class="left-arrow">
                <a href="#prev">
                </a>
            </div>
            <div class="showcase3">
                <ul class="modelost">
                    <% @models.where(:level => @levelc).each_with_index do |model, i| %>
                        <li class="modelothumb">
                            <div class="cajadatosm">
                            <%= link_to "#", :class => 'model_link' do%>
                                <%= hidden_field_tag('imgsrc', model.img_url) %>
                                <%= image_tag("/thumbs/"+ model.thumb_url, :height => 205, :width => 145, :id => model.id) %>
                                <div class="modeldata">
                                <h5>Modelo Consenso</h5>
                                <h6><b>CORTE: </b></br>
                                <%= model.description %></h6>
                                <p>Promedio:</p>
                                <h3><%= model.average_rating %></h3>
                                <p>Votos: (<%= model.total_votes %>)</p>
                                </div>
                            <% end %>
                            </div>
                            <div class="rankmod clearfix">
                                <% if user_signed_in? %>
                                    <div class="user_star">
                                        <%= hidden_field_tag('model', model.id, :class => 'mid' )  %>
                                        <%= hidden_field_tag('myscore', @ratings[model.id], :class => 'myscore')  %>
                                    </div>
                                <% end %>
                                <% if file_exists(model.id) %>
                                    <%= link_to models_download_model_path(:m_id => model.id), :class => 'download', :remote => true do %>
                                        <%= image_tag("descargar.png") %>
                                    <% end %>
                                <% end %>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="right-arrow">
                <a href="#next">
                </a>
            </div>
        </div>

        </div>
        <p>Seleccionar, calificar o comentar sobre los distintos modelos.</br>Para comentar sobre un modelo específico dar el nombre del corte.</br></p>
        <% if user_signed_in? %>
        <input type="checkbox" class="arealim"><label title="En casos en que se desee delimitar el area de conocimiento de la especie, podrá agregar tags geográficos por municipios o departamentos en un lenguaje controlado">Marque si su conocimiento sobre esta especie corresponde a un área limitada <i>(agregar tags geográficos)</i></label></input>
        <input type="text" id="tags-input" class="borders clearfix"></input>
        <input id="save-tags"class="cbton tagbtn" type="submit" value="guardar"></input>
        <% end %> 
        <div class="commentspace">
        <h3>Comentarios sobre esta especie y sus modelos</h3>
        <% if user_signed_in? %>
            <%= render :partial => 'comments/new', :locals => {:new_comment => @new_comment} %>
        <% end %>
        </div>
        <div class='comments-list padmodelos'>
            <%= render :partial => 'comments/show', :collection => @all_comments, :as => :comment %>
        </div>
<div class ="termbox"></div>
<script>

    $("#save-tags").click(function(e){
        
        var t_values,
            split_values,
            isError = false,
            t_values = $("#tags-input").val();

        if(t_values == "")
            alert("Ingrese algún tag geográfico");
        else{
            split_values = t_values.split(",");

            for (var i=0; i<split_values.length; i++) {
                
                $.ajax({
                        type: "POST",
                        url: "/regions/save_region_user",
                        data: { rid: split_values[i], sid: <%= @species.id %>},
                        error: function( jqXHR, textStatus ) {
                            isError = true;
                            alert( "Ha ocurrido un error: " + textStatus );
                        }
                }); 
            }

            if (!isError)
                alert("Tag(s) guardados con éxito.");
        }

        e.preventDefault();
    });
    
    /* Rating */
    $('.user_star').raty({ 
                path: '../assets',
                hints: ['No representa', 'Representa pobremente', 'Representa regularmente', 'Representa adecuadamente', 'Representa muy bien'],
                cancel: true,
                score:  function() {
                            return $(this).find('.myscore').val();
                },
                click: function(score, evt) {
                    //alert('score: ' + score);
                    $.ajax({
                        type: "POST",
                        url: "/ratings/rate_model",
                        data: { mid: $(this).find('.mid').val(), score: score }
                    }); 
                } 
    });

    $('input[type=checkbox]').click(function(){
          $('.tagbtn').toggle();
          $('.token-input-list').toggle();
    });

    /* Tabs */
   $( "#tabs" ).tabs();

   (function activate_gallery(){
    var div = $('div.showcase'),
        div2 = $('div.showcase2'),
        div3 = $('div.showcase3');
        div4 = $('div.showcase4');
    var liNum = $(div).find('ul').children('li').length,
         liNum2 = $(div2).find('ul').children('li').length,
         liNum3 = $(div3).find('ul').children('li').length;
         liNum4 = $(div4).find('ul').children('li').length;
    var speed = 1000;
    var containerWidth = 682;
    var itemWidth = 165;
    $(div).css({overflow: 'hidden'});
    $(div2).css({overflow: 'hidden'});
    $(div3).css({overflow: 'hidden'});
    $(div4).css({overflow: 'hidden'});
    $('div.right-arrow').click(function(e){ 
        if(($(div).scrollLeft()+containerWidth)<(liNum*itemWidth)){
            $(div).animate({
                  scrollLeft: '+='+containerWidth
            }, speed);
        }
        if(($(div2).scrollLeft()+containerWidth)<(liNum2*itemWidth)){
            $(div2).animate({
                  scrollLeft: '+='+containerWidth
            }, speed);
        }
        if(($(div3).scrollLeft()+containerWidth)<(liNum3*itemWidth)){
            $(div3).animate({
                  scrollLeft: '+='+containerWidth
            }, speed);
        }
         if(($(div4).scrollLeft()+containerWidth)<(liNum4*itemWidth)){
            $(div4).animate({
                  scrollLeft: '+='+containerWidth
            }, speed);
        }
    }); 
    $('div.left-arrow').click(function(e){  
        if(($(div).scrollLeft()+containerWidth)>containerWidth){
            $(div).animate({
                scrollLeft: '-='+containerWidth
            }, speed);
        }
        if(($(div2).scrollLeft()+containerWidth)>containerWidth){
            $(div2).animate({
                scrollLeft: '-='+containerWidth
            }, speed);
        }
        if(($(div3).scrollLeft()+containerWidth)>containerWidth){
            $(div3).animate({
                scrollLeft: '-='+containerWidth
            }, speed);
        }
        if(($(div4).scrollLeft()+containerWidth)>containerWidth){
            $(div4).animate({
                scrollLeft: '-='+containerWidth
            }, speed);
        }
    });
  })();

  $('#idUrl').click(function() {
    $(this).select();
  });



var loadRegionTags = function (){

    var regions_usr_sp = "";
    
    $.ajax({
        'async': false,
        'type': "GET",
        'global': false,
        'dataType': 'json',
        url: "/regions/regions_by_user",
        data: {sid: <%= @species.id %>},
        'success': function (data) {
            regions_usr_sp = data;
        },
        error: function( jqXHR, textStatus ) {
            isError = true;
            alert( "Ha ocurrido un error: " + textStatus );
        }
    });

    return regions_usr_sp;
};

<% if user_signed_in? %>
    $("#tags-input").tokenInput("/species/regions_autocomplete",
    {
        preventDuplicates: true,
        minChars:3,
        prePopulate: loadRegionTags()

    });
<% end %>
</script>
