<h1><%= @species.sci_name %></h1>
        <div class="registros">
                    <h4>No. Registros</h4>
                    <div class="noreg"><%= @species.ocurrence_records %></div>
                    <div class="clearfix"></div>
                    <% if @species.ocurrence_records_url? %>
                        <%= link_to "Metadatos", root_url + 'metadata/'+ @species.ocurrence_records_url.split('.').first + '.html', {:target => '_blank', :class => 'verreg' } %>
                    <% end %>               
        </div>  
        <div class="resbusqueda genero clearfix"><%= @species.order %></br>
        <div class="familia"><%= @species.family %></div>
        <a href="http://www.biodiversidad.co/" class="linksib" target="_blank">www.biodiversidad.co</a></div>
        <div class="selector hs">
            <div class="left-arrow">
                <a href="#prev">
                </a>
            </div>
            <div class="showcase">
                <ul class="modelost">
                    <% @models.each_with_index do |model, i| %>
                        <li class="modelothumb">
                            <div class="cajadatosm">
                            <%= link_to "#", :class => 'model_link' do%>
                                <%= hidden_field_tag('imgsrc', model.img_url) %>
                                <%= image_tag("/thumbs/"+ model.thumb_url, :height => 205, :width => 145, :id => model.id) %>
                                <div class="modeldata">
                                <h5>Modelo Nivel 1</h5>
                                <h6><b>CORTE: </b></br>
                                <%= model.description %></h6>
                                <p>Promedio:</p>
                                <h3><%= model.average_rating %></h3>
                                <p>Votos: (<%= model.total_votes %>)</p>
                                </div>
                            <% end %>
                            </div>
                            <div class="rankmod clearfix">
                                <% if user_signed_in? %>
                                    <div class="user_star">
                                        <%= hidden_field_tag('model', model.id, :class => 'mid' )  %>
                                        <%= hidden_field_tag('myscore', @ratings[model.id], :class => 'myscore')  %>
                                    </div>
                                <% end %>
                                <% if file_exists(model.id) %>
                                    <%= link_to models_download_model_path(:m_id => model.id), :class => 'download', :remote => true do %>
                                        <%= image_tag("descargar.png") %>
                                    <% end %>
                                <% end %>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="right-arrow">
                <a href="#next">
                </a>
            </div>
        </div>

        <p>Seleccionar modelo, calificar o comentar sobre los distintos modelos.</br>Sobre uno específico dar el nombre del corte.</br></p>

        <div class="commentspace">
        <h3>Comentarios sobre esta especie y sus modelos</h3>
        <% if user_signed_in? %>
            <%= render :partial => 'comments/new', :locals => {:new_comment => @new_comment} %>
        <% end %>
        </div>
        <div class='comments-list padmodelos'>
            <%= render :partial => 'comments/show', :collection => @all_comments, :as => :comment %>
        </div>
<div class ="termbox"></div>
<script>
$(document).ready(function () {

            $('.model_link').click(function (event) {
                _mapVisorModule.loadModel("/modelos/"+$(this).find('#imgsrc').val());
                $("#review_model_id").val($(this).find('img').attr('id'));
                $('.editControls,.edicionbar').show('slow');
                $('.showmodels, .cajabusqueda, .selectores').hide ('slow');
                event.preventDefault(); // Prevent link from following its href
            });

            $('.user_star').raty({ 
                path: '../assets',
                hints: ['No representa', 'Representa pobremente', 'Representa regularmente', 'Representa adecuadamente', 'Representa muy bien'],
                score:  function() {
                            return $(this).find('.myscore').val();
                },
                click: function(score, evt) {
                    $.ajax({
                        type: "POST",
                        url: "/ratings/rate_model",
                        data: { mid: $(this).find('.mid').val(), score: score }
                    }); 
                } 
            });

});
</script>

<script type="text/javascript">
$(document).ready(function () {
    var div = $('div.showcase');
    var liNum = $(div).find('ul').children('li').length;
    var speed = 1000;
    var containerWidth = 682;
    var itemWidth = 165;
    $(div).css({overflow: 'hidden'});
    $('div.right-arrow').click(function(e){ 
        if(($(div).scrollLeft()+containerWidth)<(liNum*itemWidth)){
            $(div).animate({
                scrollLeft: '+='+containerWidth
            }, speed);
        }
    }); 
    $('div.left-arrow').click(function(e){  
        if(($(div).scrollLeft()+containerWidth)>containerWidth){
            $(div).animate({
                scrollLeft: '-='+containerWidth
            }, speed);
        }
    });
});
</script>

<script>

$(document).ready(function(){
    $('.cajadatosm').mouseenter(function(e){
        $(this).animate({scrollTop:$(".cajadatosm").scrollTop() + $(".modeldata").position().top},600);
        });
    $('.cajadatosm').mouseleave(function(e){
        $(this).animate({scrollTop:$(".cajadatosm").position().top - '20px'},600).finish();
        });
});

</script>
