<h1><%= @species.sci_name %></h1>
        <div class="registros">
                    <h4>No. Registros LBAB</h4>
                    <%= link_to "Ver", "#", :class => 'verreg' %>
                    <%= hidden_field(:species, :ocurrence_records_url) %>
                    <!-- <a href="#" class="verreg">Ver</a> -->
                    <div class="noreg"><%= @species.ocurrence_records %></div>
        </div>  
        <div class="resbusqueda genero clearfix"><%= @species.order %></br>
        <div class="familia"><%= @species.family %></div>
        <a href="http://www.biodiversidad.co/" class="linksib" target="_blank">www.biodiversidad.co</a></div>
        <div class="selector hs">
            <div class="left-arrow">
                <a href="#prev">
                </a>
            </div>
            <div class="showcase">
                <ul class="modelost">
                    <% @models.each_with_index do |model, i| %>
                        <li class="modelothumb">
                            <div class="cajadatosm">
                            <%= link_to "#", :class => 'model_link' do%>
                                <%= hidden_field_tag('imgsrc', model.img_url) %>
                                <%= image_tag("/thumbs/"+ model.thumb_url, :height => 205, :width => 145, :id => model.id) %>
                                <div class="modeldata">
                                <h5>Modelo Nivel 1</h5>
                                <h6><b>CORTE: </b></br>
                                <%= model.description %></h6>
                                <p>Ranking:</p>
                                <h3><%= model.average_rating %></h3>
                                <p>Votos: (<%= model.total_votes %>)</p>
                                </div>
                            <% end %>
                            </div>
                            <div class="rankmod clearfix">
                                <% if user_signed_in? %>
                                    <div class="user_star">
                                        <%= hidden_field_tag('model', model.id, :class => 'mid' )  %>
                                        <%= hidden_field_tag('myscore', @ratings[model.id], :class => 'myscore')  %>
                                    </div>
                                <% end %>
                                <%= link_to models_download_model_path(:m_id => model.id), :class => 'download', :remote => true do %>
                                     <%= image_tag("descargar.png") %>
                                <% end %>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="right-arrow">
                <a href="#next">
                </a>
            </div>
        </div>

        <p>Seleccionar modelo, calificar o comentar sobre los distintos modelos.</br>Sobre uno específico dar el nombre del corte.</br></p>

        <div class="commentspace">
        <h3>Comentarios sobre esta especie y sus modelos</h3>
        <% if user_signed_in? %>
            <%= render :partial => 'comments/new', :locals => {:new_comment => @new_comment} %>
        <% end %>
        </div>
        <div class='comments-list padmodelos'>
            <%= render :partial => 'comments/show', :collection => @all_comments, :as => :comment %>
        </div>
<div class ="termbox">
    <form class="terminos">
    <h1>USOS Y CONDICIONES MODELO A DESCARGAR</h1>

    <p>La aplicación <b>“BioModelos”</b> tiene la intención de abrir un espacio para la discusión y evaluación de modelos de distribución geográfica de especies.</br>

    La información descargable de este sitio <b>NO es información oficial,</b> NO refleja la distribución real de la especies. La información representa una HIPOTESIS de una PROBABLE distribución geográfica asociada a la especie y puede contener ERRORES y SESGOS asociados a los datos y la estimación estadística de la distribución.</br>

    En consecuencia, el uso o productos derivados de la información que usted va a descargar es enteramente su responsabilidad y debe ser única y exclusivamente para fines de carácter educativo, de investigación y sin fines de lucro.</br>

    Citar la información descargada con el siguiente formato: Autor (fecha de publicación), nombre de la especies, ID del modelo, Publicador.</br>
    <b>·  Autor:</b> Laboratorio de Biogeografía Aplicada y Bioacústica</br>
    <b>·  Fecha de publicación:</b> 2014</br>
    <b>·  Publicador:</b> Instituto de Investigación de Recursos Biológicos Alexander von Humboldt.</p>
    <input type="checkbox" name="aceptoterms" value="terms" class="checkbox2" id="acepto-chk" />
        <label>He leído y acepto los términos y condiciones</label></br>
    </input>
    <div id='download-btn'></div>
    <div class="cancterm">X</div>
    <!-- <input type="submit" value="ACEPTO" class="bbton"> -->
    </form>
</div>
<script>
        $('.model_link').click(function (event) {
            _mapVisorModule.loadModel("/modelos/"+$(this).find('#imgsrc').val());
            $("#review_model_id").val($(this).find('img').attr('id'));
            $('.editControls,.edicionbar').show('slow');
            $('.showmodels, .cajabusqueda, .selectores').hide ('slow');
            event.preventDefault(); // Prevent link from following its href
        });

        $('.verreg').click(function (event) {
            event.preventDefault();
            _mapVisorModule.loadPoints('/registros/'+$('#species_ocurrence_records_url').val());
            $('.showmodels, .cajabusqueda, .selectores').hide ('slow');
        });

        $('.user_star').raty({ 
            path: '../assets',
            hints: ['No representa', 'Representa pobremente', 'Representa regularmente', 'Representa adecuadamente', 'Representa muy bien'],
            score:  function() {
                        return $(this).find('.myscore').val();
            },
            click: function(score, evt) {
                $.ajax({
                    type: "POST",
                    url: "/ratings/rate_model",
                    data: { mid: $(this).find('.mid').val(), score: score }
                }); 
            } 
        });


</script>

<script type="text/javascript">
$(document).ready(function () {
    var div = $('div.showcase');
    var liNum = $(div).find('ul').children('li').length;
    var speed = 1000;
    var containerWidth = 682;
    var itemWidth = 165;
    $(div).css({overflow: 'hidden'});
    $('div.right-arrow').click(function(e){ 
        if(($(div).scrollLeft()+containerWidth)<(liNum*itemWidth)){
            $(div).animate({
                scrollLeft: '+='+containerWidth
            }, speed);
        }
    }); 
    $('div.left-arrow').click(function(e){  
        if(($(div).scrollLeft()+containerWidth)>containerWidth){
            $(div).animate({
                scrollLeft: '-='+containerWidth
            }, speed);
        }
    });
});
</script>

<script>

$(document).ready(function(){
    $('.cajadatosm').mouseenter(function(e){
        $(this).animate({scrollTop:$(".cajadatosm").scrollTop() + $(".modeldata").position().top},600);
        });
    $('.cajadatosm').mouseleave(function(e){
        $(this).animate({scrollTop:$(".cajadatosm").position().top - '20px'},600).finish();
        });
    });

</script>
