<h1><%= @species.sci_name %></h1>
                    <div class="registros">
                    <h4>No. Registros LBAB</h4>
                    <div class="noreg">122</div>
                    </div>  
                    <div class="resbusqueda genero clearfix"><%= @species.order %></br>
                    <div class="familia"><%= @species.family %></div>
                    <a href="http://www.biodiversidad.co/" class="linksib">www.biodiversidad.co</a></div>
        <div class="selector">
                <ul class="modelost">
                    <% @models.each_with_index do |model, i| %>
                        <li class="modelothumb">
                            <h3><%= i+1 %></h3>
                            <%= link_to "#", :class => 'model_link' do%>
                                <%= image_tag(model.img_url, :height => 205, :width => 145, :id => model.id) %>
                            <% end %>
                            <div class="rankmod clearfix">
                                    <div class="user_star"></div>
                            </div>
                        </li>   
                    <% end %>
                </ul>
        
        <p>Seleccionar modelo, calificar o comentar sobre los distintos modelos.</br>Sobre uno específico decir nombre del modelo.</br>Las capas de modelos pueden cambiarse en el controlador de capas.<p>
        </div>

        <div class="commentspace">
        <h3>Comentarios sobre esta especie y sus modelos</h3>
        <% if user_signed_in? %>
            <%= render :partial => 'comments/new', :locals => {:new_comment => @new_comment} %>
        <% end %>
        </div>
        <div class='comments-list padmodelos'>
            <%= render :partial => 'comments/show', :collection => @all_comments, :as => :comment %>
        </div>

<script>
        $('.model_link').click(function (event) {
            _mapVisorModule.loadModel($(this).find('img').attr('src'));
            $("#review_model_id").val($(this).find('img').attr('id'));
            $('.editControls,.edicionbar').show('slow');
            $('.showmodels, .cajabusqueda, .selectores').hide ('slow');
            event.preventDefault(); // Prevent link from following its href
        });

        $('.user_star').raty({ path: '../assets' });
</script>