<div class="editform"></div>
<div class="contenedor botonesperfil clearfix">
	<%= link_to '', {:action => 'edit_profile'}, :remote => true, :class =>"editperfil" %>
	<!-- <a href="#" class="editperfil"> -->
	</a>
	<div class="funcperfil">
		<a href="#"></a>
		<a href="#"></a>
	</div>
</div>
<div class="perfilline" id="lineap"></div>
<div class="contenedor">
	<div class="perfilcol1 clearfix fixfooter" id="col1p">
		<article class="perfildata" id="alturap">
			<div class="perfilimg">
				<%= image_tag("fotoperfil.png") %>
			</div>
			<section class="perfilexp">
				<h1><%= @user.name %></h1>
				<% if !@user.interestGroups.blank? %>
					<h2>Especialista en <%= @user.interestGroups %></h2>
				<% end %>	
				<h3><%= @user.organization %></h3>
				<h4><%= @user.location %></h4>
				<p><%= @user.bio %></p>
			</section>
		</article>
			<div class="clearfix"></div>
			<section class="aportes">
				<div class="medallas">
					<div class="medalla1"></div>
					<div class="medalla1"></div>
				</div>
				<h1>aportes</h1>
				<a href="#">revisar aportes</a>
			</section>
			<%= render 'reviews/reviews_by_user' %>
	</div>
	<div class="perfilcol2 clearfix fixfooter" id="col2p">
		<div class="cajas">
			<h5>ranking mensual</h5>
			<section class="ranking">
				<h1>1</h1>
				<p><a href="#">Camilo Buitrago</a> · 10 aportes en este mes</p>
				<div class="medalla1"></div>
				<div class="medalla1"></div>
				<div class="medalla1"></div>
			</section>
			<section class="ranking">
				<h1>2</h1>
				<p><a href="#">Cesar Gutierrez</a> · 10 aportes en este mes</p>
				<div class="medalla1"></div>
				<div class="medalla1"></div>
			</section>
			<section class="ranking">
				<h1>3</h1>
				<p><a href="#">Daniel Lopez</a> · 9 aportes en este mes</p>
				<div class="medalla1"></div>
				<div class="medalla1"></div>
			</section>
			<section class="ranking">
				<h1>4</h1>
				<p><a href="#">Iván González</a> · 9 aportes en este mes</p>
				<div class="medalla1"></div>
			</section>
			<section class="ranking">
				<h1>5</h1>
				<p><a href="#">Felipe Perez</a> · 8 aportes en este mes</p>
				<div class="medalla1"></div>
			</section>
			<section class="ranking">
				<h1>6</h1>
				<p><a href="#">Johnn Doe</a> · 7 aportes en este mes</p>
				<div class="medalla1"></div>
			</section>
			<section class="ranking">
				<h1>7</h1>
				<p><a href="#">Petet Diaz</a> · 6 aportes en este mes</p>
				<div class="medalla1"></div>
			</section>
			<section class="ranking">
				<h1>8</h1>
				<p><a href="#">San Fermin Lopez</a> · 6 aportes en este mes</p>
				<div class="medalla1"></div>
			</section>
			<section class="ranking">
				<h1>9</h1>
				<p><a href="#">Adriana Sanchez</a> · 5 aportes en este mes</p>
				<div class="medalla1"></div>
			</section>
			<section class="ranking">
				<h1>10</h1>
				<p><a href="#">Alejandra Buitrago</a> · 4 aportes en este mes</p>
				<div class="medalla1"></div>
			</section>
		</div>
		<!-- <form>
			<input type="text" placeholder="Nombre" class="commeinput"></input>
			<textarea placeholder="Commentario" rows="3" columns="30" class="commeinput"></textarea>
			<input type="submit" class="cbton" value="comentar">
		</form> -->
	</div>
</div>


<script>
$(document).ready(function(){
	function recalcular (){
		var altura = $('#alturap').height();
		$('#lineap').height(altura);
		$('#col1p').css( "margin-top", -altura);
		$('#col2p').css( "margin-top", -altura);
	}
	recalcular();
$(window).resize(function() {
		recalcular();
	});
});


</script>