<div class="editform"></div>
<div class="botonesperfil clearfix">
	<% if @user.id == get_current_user_id%>	
		<%= link_to '', {:action => 'edit_profile'}, :remote => true, :class =>"editperfil", :title=>"Editar Perfil" %>
	<% end %>
	<div class="funcperfil">
		<a href="#"></a>
		<a href="#"></a>
	</div>
</div>
<div class="perfilline" id="lineap"></div>
<div class="contenedor">
	<div class="perfilcol1 clearfix fixfooter" id="col1p">
		<article class="perfildata" id="alturap">
			<div class="perfilimg">
				<%= image_tag("fotoperfil.png") %>
			</div>
			<section class="perfilexp">
				<h1><%= @user.name %></h1>
				<% if !@user.interestGroups.blank? %>
					<h2>Especialista en <%= @user.interestGroups %></h2>
				<% end %>	
				<h3><%= @user.organization %></h3>
				<h4><%= @user.location %></h4>
				<p><%= @user.bio %></p>
					<% if user_signed_in? %>
	                  <% if @user.id != current_user.id%>
	                      <%= simple_form_for @relationship do |f| %>
	                          <%= f.hidden_field :user_id, :value =>  @user.id %>
	                          <%= f.submit @text_relationship %>
	                      <% end %>
	                  <% end %>
	                <% end %>
			</section>
		</article>
			<div class="clearfix"></div>
			<section class="aportes fixfooter">
				<div class="medallas">
					<div class="medalla1"></div>
					<div class="medalla1"></div>
				</div>
				<h1>aportes</h1>
				<a href="#" class="checkrev">revisar aportes</a>
			<%= render 'reviews/reviews_by_user' %>
			</section>
	</div>
	
	<div class="perfilcol2 clearfix fixfooter" id="col2p">
		<div class="cajas">
			<h5>Top 10 de colaboradores</h5>
			<% @users_by_reviews.each_with_index do |user, i| %>
				<section class="ranking">
					<h1><%= i+1 %></h1>
					<p><a href="/users/<%= user.id %>"><%= user.Name %></a> 路 <%= user.Aportes %> aporte(s) </p>
					<% if user.Aportes >= 100 %>
						<div class="medalla1"></div><div class="medalla1"></div><div class="medalla1"></div>
					<% elsif user.Aportes >= 50 %>
						<div class="medalla1"></div><div class="medalla1"></div>
					<% else %>
						<div class="medalla1"></div>
					<% end %>
				</section>
			<% end %>
		</div>

	</div>

	<hr/>
        <div class="clearfix">
          <h5>Grupos del usuario</h5>
          <table>

            <% @user_groups.each do |user_group| %>
                <tr>
                  <td><%= link_to image_tag(user_group.group.logo.url(:thumb120).to_s), user_group.group %></td>
                  <td><%= link_to user_group.group.name, user_group.group %></td>
                  <td><%= user_group.group.description %></td>
                </tr>
            <% end %>
          </table>

        </div>
    <hr/>
    <div>
      <% if user_signed_in? %>
        <% if @user.id != current_user.id%>
              <div class="clearfix">
                <h5>Acciones del Usuario</h5>
                <table>

                  <% @user.own_notifications.each do |notification| %>
                    <%if notification.state_id==1 %>
                      <tr>
                        <td>&nbsp;</td>
                        <td><%= notification.updated_at.strftime("%F %R") %></td>
                        <td>El usuario se ha unido al grupo <a href="/groups/<%= notification.id %>"><%= notification.name %></a></td>
                      </tr>
                    <% end %>
                    <%if notification.state_id==4 %>
                      <tr>
                        <td>&nbsp;</td>
                        <td><%= notification.updated_at.strftime("%F %R") %></td>
                        <td>El usuario se ha retirado del grupo <a href="/groups/<%= notification.id %>"><%= notification.name %></a></td>
                      </tr>
                    <% end %>
                    <%if notification.state_id==20 %>
                      <tr>
                        <td>&nbsp;</td>
                        <td><%= notification.updated_at.strftime("%F %R") %></td>
                        <td>El usuario realiz贸 el un aporte sobre la especie: <a href="/species/<%= notification.id %>"><%= notification.name %></a></td>
                      </tr>
                    <% end %>

                  <% end %>
                </table>

              </div>
        <% else %>
              <div class="clearfix">
                <h5>Acciones del Usuario</h5>
                <table>

                  <% @user.own_notifications.each do |notification| %>
                      <%if notification.state_id==1 %>
                          <tr>
                            <td>&nbsp;</td>
                            <td><%= notification.updated_at.strftime("%F %R") %></td>
                            <td>Tu solucitud para unirte al grupo: <a href="/groups/<%= notification.id %>"><%= notification.name %></a> fue <b>Aprobada</b></td>
                          </tr>
                      <% end %>
                      <%if notification.state_id==2 %>
                          <tr>
                            <td>&nbsp;</td>
                            <td><%= notification.updated_at.strftime("%F %R") %></td>
                            <td>Tu solucitud para unirte al grupo: <a href="/groups/<%= notification.id %>"><%= notification.name %></a> esta <b>Pendiente de aprobaci贸n</b></td>
                          </tr>
                      <% end %>
                      <%if notification.state_id==3 %>
                          <tr>
                            <td>&nbsp;</td>
                            <td><%= notification.updated_at.strftime("%F %R") %></td>
                            <td>Tu solucitud para unirte al grupo: <a href="/groups/<%= notification.id %>"><%= notification.name %></a> fue <b>Rechazada</b></td>
                          </tr>
                      <% end %>
                      <%if notification.state_id==4 %>
                          <tr>
                            <td>&nbsp;</td>
                            <td><%= notification.updated_at.strftime("%F %R") %></td>
                            <td>Te retiraste del grupo: <a href="/groups/<%= notification.id %>"><%= notification.name %></a></td>
                          </tr>
                      <% end %>
                      <%if notification.state_id==20 %>
                          <tr>
                            <td>&nbsp;</td>
                            <td><%= notification.updated_at.strftime("%F %R") %></td>
                            <td>Realizaste un aporte sobre la especie: <a href="/species/<%= notification.id %>"><%= notification.name %></a></td>
                          </tr>
                      <% end %>

                  <% end %>
                </table>

              </div>
              <hr>
              <div class="clearfix">
                <h3>Mi Muro </h3><h5> Notificaciones de actividad de grupos y usuarios que sigues.</h5>
                <table>
                  <% @user.wall_notifications.each do |notification| %>
                    <%if notification.type=='new_specie' %>
                      <tr>
                        <td>&nbsp;</td>
                        <td><%= notification.updated_at.strftime("%F %R") %></td>
                        <td>La especie <a href="/species/<%= notification.user_id %>"><%= notification.user_name %> </a> fue incluida en el grupo <a href="/groups/<%= notification.id %>"><%= notification.name %></td>
                      </tr>
                    <% end %>
                    <%if notification.type=='new_user' %>
                      <tr>
                        <td>&nbsp;</td>
                        <td><%= notification.updated_at.strftime("%F %R") %></td>
                        <td><a href="/users/<%= notification.user_id %>"><%= notification.user_name %> </a> fue aceptado en el grupo <a href="/groups/<%= notification.id %>"><%= notification.name %></td>
                      </tr>
                    <% end %>
                    <%if notification.type=='review' %>
                      <tr>
                        <td>&nbsp;</td>
                        <td><%= notification.updated_at.strftime("%F %R") %></td>
                        <td><a href="/users/<%= notification.user_id %>"><%= notification.user_name %> </a> realiz贸 un aporte sobre la especie <a href="/species/<%= notification.id %>"><%= notification.name %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </table>

              </div>
        <% end %>
      <% end %>

    </div>

</div>


<script>
var ready;
ready = function() {

  	function recalcular (){
		var altura = $('#alturap').height();
		$('#lineap').height(altura);
		$('#col1p').css( "margin-top", -altura);
		$('#col2p').css( "margin-top", -altura);
	}
	recalcular();
	$(window).resize(function() {
		recalcular();
	});
};

$(document).ready(ready);
$(document).on('page:change', ready);
</script>