<footer>
	<div class="contenedor">
		<div class="lbabfooter">
				<div class="textft">
				<h1><strong>Programa de Gestión de Información y Conocimiento (GIC)</strong></h1>
				<h1>Laboratorio de Biogeografía Aplicada y Bioacústica</h1>
				<p><strong>Dirección</strong> calle 28A no. 15-09 Bogotá D.C., Colombia.</br>
				<strong>Teléfono</strong> pbx 57(1) 320 2767</br>
				lbab@humboldt.org.co</p>
				</div>
		</div>
		<nav>
			<ul id="subnav">
			  <li>
			    <%= link_to 'Inicio', root_path %>
			  </li>
			  <li>
			    <%= link_to 'Modelos', models_visor_path %>
			  </li>
			  <% if user_signed_in? %>
			    <li><%= link_to 'Perfil', user_path(:id => current_user.id) %></li>
			    <li><%= link_to 'Salir', destroy_user_session_path, :method=>'delete' %></li>
			  <% else %>
			    <li><%= link_to 'ingresar', new_user_session_path %></li>
			    <li><%= link_to 'Registrarse', new_user_registration_path %></li>
			  <% end %></br>	
			  <div class="faq"><%= link_to 'faq', faq_index_path %></div>
			</ul>
		</nav>
	</div>
</footer>