<header class="main">
	<div class="contenedor clearfix">
		<div class="lbabimg">
		Laboratorio de<br> 
		biogeografía aplicada<br> 
		y bioacústica
		</div>
		<nav>
			<ul id="subnav">
			  <li>
			    <%= link_to 'Inicio', root_path %>
			  </li>
			  <li>
			    <%= link_to 'Modelos', models_visor_path %>
			  </li>
			  <% if user_signed_in? %>
			    <li><%= link_to 'Perfil', user_path(:id => current_user.id) %></li>
			    <li><%= link_to 'Salir', destroy_user_session_path, :method=>'delete' %></li>
			  <% else %>
			    <li><%= link_to 'ingresar', '/users/sign_in', :id => 'ingresarLnk', remote: true %></li>
			    <li><%= link_to 'Registrarse', new_user_registration_path %></li>
			  <% end %>
			</ul>
		</nav>
	</div>
</header>

<script>
	$(document).ready(function(){
    $('#subnav a').each(function(index) {
        if(this.href.trim() == window.location)
            $(this).addClass("current");
    });
});
</script>