<header class="main clearfix floatheader">
	<div class="contenedor2 clearfix">
		<a href="http://www.humboldt.org.co" class="humbcolor" target="_blank"><%= image_tag("humbcolor.png") %></a>
		<div class="humbimg">
		Instituto de Investigación de Recursos Biológicos<br> 
		Alexander von Humboldt Colombia<br>
		<p>Programa de Gestión de Información y Conocimiento (GIC)</p>
		</div>
		<nav>
		<%= image_tag("beta.png", :title => 'Versión Beta', :class => 'betaimg' ) %>
			<ul id="subnav">
			  <li>
			    <%= link_to 'Inicio', root_path %>
			  </li>
			  <li>
			    <%= link_to 'Modelos', models_visor_path %>
			  </li>
			  <% if user_signed_in? %>
			    <li><%= link_to 'Perfil', user_path(:id => current_user.id) %></li>
			    <li><%= link_to 'Salir', destroy_user_session_path, :method=>'delete' %></li>
			  <% else %>
			    <li><%= link_to 'Ingresar', new_user_session_path %></li>
			    <li><%= link_to 'Registrarse', new_user_registration_path %></li>
			  <% end %>
			</ul>
		</nav>
	</div>
</header>

<script>
	$(document).ready(function(){
    $('#subnav a').each(function(index) {
        if(this.href.trim() == window.location)
            $(this).addClass("current");
    });
});
</script>