<div class="bg4">
	<div class="contacto">
	<div class="mailimg"></div>
	              <h2>Mantengase en contacto con nosotros, estamos para atender sus dudas, oir sus opiniones y sugerencias.</h2>
            <div id="mailform">       
                  <%= simple_form_for :message, :url => {:controller => "home", :action => "send_message" }, :html => {:class => 'forma' }, :remote => true do |f| %>
                        <%= f.input :name, :maxlength => 50, :placeholder => "Nombre o Institución", :name => "nombre", label: false%>
                        <%= f.input :subject, :maxlength => 50, :placeholder => "Asunto", :name => "asunto", label: false %>
                        <%= f.input :email, :maxlength => 50, :placeholder => "E-mail", :name => "email", label: false %>
                        <%= f.input :content, :as => :text, :input_html => {:maxlength => 1200, :cols => "20", :rows => "12"}, :name => "cuerpo", label: false %>
                        <%= f.button :submit, :value => "ENVIAR", :class => 'boton1'%>
                  <% end %>
            </div>
	</div>
</div>