<div class="fondo3 fondo5">
	<article class="faqshow w600">
		<div class="faqtitle clearfix">
			<h1>Grupos de expertos</h1></div>
			<div class="qya">
				<div class="ilb">
				<h3>Grupo Expertos en Aves Acuáticas:</h3>

				<% @aves_experts.each do |expert| %>
					<p><a href="/users/<%= expert.id %>"><%= expert.name %></a><br />
				<% end %>
				</div>
				<div class="ilb">
				<h3>Grupo Expertos en Herpetos:</h3>

				<% @herpetos_experts.each do |expert| %>
					<p><a href="/users/<%= expert.id %>"><%= expert.name %></a><br />
				<% end %>
				</div>
				<div class="ilb">
				<h3>Grupo Expertos en Mamíferos:</h3>

				<% @mamiferos_experts.each do |expert| %>
					<p><a href="/users/<%= expert.id %>"><%= expert.name %></a><br />
				<% end %>
				</div>
				<div class="ilb">
				<h3>Grupo Expertos en Peces:</h3>

				<% @peces_experts.each do |expert| %>
					<p><a href="/users/<%= expert.id %>"><%= expert.name %></a><br />
				<% end %>
				</div>
			</div>
	</article>	
</div>