<div class="fondomaps"></div>
<div class="homeline">
	<div class="contenedor">
		<div class="hlcol1">
			<h1>BioModelos<h1>
			<h2>Aplicación de Verificación y Consulta</br>
			de Modelos de Distribución de</br>
			Especies en Colombia</h2>
			<div class="lbabimg2"></div>
		</div>
	</div>
</div>
<div class="contenedor">
<div class="columnaintro">
<section class="intro2">
<h5>El primer objetivo de BioModelos es generar un canal de comunicación entre expertos y el LBAB, para así <strong>verificar</strong> los datos y modelos obtenidos por el LBAB y conseguir resultados robustos que acerquen a todos los usuarios a una información más precisa sobre la distribución de especies en Colombia.</br></br>

El segundo objetivo es compartir abiertamente los datos y resultados generados por el LBAB al público general, concretamente los modelos de distribución de especies en Colombia, para que sean utilizados como <strong>referencia</strong> en estudios e investigaciones.</h5>
</section>
<aside class="activity2">
			<h5>Actividad biomodelos</h5>
			<ul>
		        <li class="actfeed">
					<div class="minavatar"><%= image_tag("minavatar.png") %></div>
		        	<div class="clearfix">
			            <a class="feeduser" href="#">LBAB</a>
			            <div class="feedtime">hace 1 hora</div>
			        </div>
		            <p class="feedcontent">Agregado modelo especie <em>Lorem Ipsum</em></p>
		        </li>
		        <li class="actfeed">
					<div class="minavatar"><%= image_tag("minavatar.png") %></div>
		        	<div class="clearfix">
			            <a class="feeduser" href="#">Camilo Buitrago</a>
			            <div class="feedtime">hace 2 horas</div>
			        </div>
		            <p class="feedcontent">Edición Modelo No. 3 y No. 4 <em>Familia Ramphastidae</em></p>
		        </li>
		        <li class="actfeed">
					<div class="minavatar"><%= image_tag("minavatar.png") %></div>
		        	<div class="clearfix">
			            <a class="feeduser" href="#">Petet Diaz</a>
			            <div class="feedtime">Septiembre 23 2013</div>
			        </div>
		            <p class="feedcontent">Agregado modelo especie <em>Lorem Ipsum</em></p>
		        </li>
		        <li class="actfeed">
					<div class="minavatar"><%= image_tag("minavatar.png") %></div>
		        	<div class="clearfix">
			            <a class="feeduser" href="#">LBAB</a>
			            <div class="feedtime">Septiembre 20 2013</div>
			        </div>
		            <p class="feedcontent">Agregado modelo especie <em>Lorem Ipsum</em></p>
		        </li>
		        <li class="actfeed">
					<div class="minavatar"><%= image_tag("minavatar.png") %></div>
		        	<div class="clearfix">
			            <a class="feeduser" href="#">Camilo Buitrago</a>
			            <div class="feedtime">hace 2 horas</div>
			        </div>
		            <p class="feedcontent">Edición Modelo No. 3 y No. 4 <em>Familia Ramphastidae</em></p>
		        </li>
		    </ul>
		</aside>
</div>
<article class="opciones">
		<div class="lineop">
			<h3 class="usu">opciones como usuario</h3>
			<h3 class="exp">opciones como experto</h3>
		</div>
		<%= link_to new_user_session_path do %>
		<div class="op">
			<div class="imginicio"><%= image_tag("ingresabg.png") %></div>
			<p>Ingresa o Registrate</p>
		</div>
		<% end %>
		<%= link_to models_visor_path do %>
		<div class="op">
			<div class="imginicio"><%= image_tag("seleccionabg.png") %></div>
			<p>Selecciona una especie</p>
		</div>
		<div class="op">
			<div class="imginicio"><%= image_tag("consultabg.png") %></div>
			<p>Consulta modelos</p>
		</div>
		<% end %>
	</article>
	<article class="opciones fixfooter">
		<div class="op">
			<div class="imginicio"><%= image_tag("editabg.png") %></div>
			<p>Verifica y Edita</p>
		</div>
		<div class="op">
			<div class="imginicio"><%= image_tag("comentabg.png") %></div>
			<p>Comenta</p>
		</div>
		<div class="op">
			<div class="imginicio"><%= image_tag("redbg.png") %></div>
			<p>Red de Contacto</p>
		</div>
	</article>
</div>
<!--
<div class="inicio contenedor clearfix">
	<article class="maincol clearfix fixfooter">
		<div class="lbabimg">
			laboratorio de</br>
			biogeografía aplicada</br>
			y bioacústica
		</div>
		<header class="BioM">
			<h1>BioModelos<h1>
			<p>Aplicación de Verificación y Consulta</br>
			de Modelos de Distribución de</br>
			Especies en Colombia</p>
		</header>
		<section class="intro">
			<h5>El primer objetivo de BioModelos es generar un canal de comunicación entre expertos y el LBAB, para así <strong>verificar</strong> los datos y modelos obtenidos por el LBAB y conseguir resultados robustos que acerquen a todos los usuarios a una información más precisa sobre la distribución de especies en Colombia.</br>
			</br>
			El segundo objetivo es compartir abiertamente los datos y resultados generados por el LBAB al público general, concretamente los modelos de distribución de especies en Colombia, para que sean utilizados como <strong>referencia</strong> en estudios e investigaciones.</h5>
		</section>
		<aside class="activity">
			<h5>Actividad biomodelos</h5>
			<ul>
		        <li class="actfeed">
					<div class="minavatar"><%= image_tag("minavatar.png") %></div>
		        	<div class="clearfix">
			            <a class="feeduser" href="#">LBAB</a>
			            <div class="feedtime">hace 1 hora</div>
			        </div>
		            <p class="feedcontent">Agregado modelo especie <em>Lorem Ipsum</em></p>
		        </li>
		        <li class="actfeed">
					<div class="minavatar"><%= image_tag("minavatar.png") %></div>
		        	<div class="clearfix">
			            <a class="feeduser" href="#">Camilo Buitrago</a>
			            <div class="feedtime">hace 2 horas</div>
			        </div>
		            <p class="feedcontent">Edición Modelo No. 3 y No. 4 <em>Familia Ramphastidae</em></p>
		        </li>
		        <li class="actfeed">
					<div class="minavatar"><%= image_tag("minavatar.png") %></div>
		        	<div class="clearfix">
			            <a class="feeduser" href="#">Petet Diaz</a>
			            <div class="feedtime">Septiembre 23 2013</div>
			        </div>
		            <p class="feedcontent">Agregado modelo especie <em>Lorem Ipsum</em></p>
		        </li>
		        <li class="actfeed">
					<div class="minavatar"><%= image_tag("minavatar.png") %></div>
		        	<div class="clearfix">
			            <a class="feeduser" href="#">LBAB</a>
			            <div class="feedtime">Septiembre 20 2013</div>
			        </div>
		            <p class="feedcontent">Agregado modelo especie <em>Lorem Ipsum</em></p>
		        </li>
		        <li class="actfeed">
					<div class="minavatar"><%= image_tag("minavatar.png") %></div>
		        	<div class="clearfix">
			            <a class="feeduser" href="#">Camilo Buitrago</a>
			            <div class="feedtime">hace 2 horas</div>
			        </div>
		            <p class="feedcontent">Edición Modelo No. 3 y No. 4 <em>Familia Ramphastidae</em></p>
		        </li>
		    </ul>
		</aside>
	</article>
		
	<article class="opciones">
		<%= link_to new_user_session_path do %>
		<div class="op" >
			<h2>1.</h2>
			<div class="imginicio"><%= image_tag("ingresabg.png") %></div>
			<p>Ingresa o Registrate</p>
		</div>
		<% end %>
		<%= link_to models_visor_path do %>
		<div class="op">
			<h2>2.</h2>
			<div class="imginicio"><%= image_tag("seleccionabg.png") %></div>
			<p>Selecciona una especie</p>
		</div>
		<div class="op">
			<h2>3.</h2>
			<div class="imginicio"><%= image_tag("consultabg.png") %></div>
			<p>Consulta modelos</p>
		</div>
		<% end %>
	</article>
		<div class="lineop">
			<h3 class="usu">opciones como usuario</h3>
			<h3 class="exp">opciones como experto</h3>
		</div>
	<article class="opciones fixfooter">
		<div class="op">
			<h2>4.</h2>
			<div class="imginicio"><%= image_tag("editabg.png") %></div>
			<p>Verifica y Edita</p>
		</div>
		<div class="op">
			<h2>5.</h2>
			<div class="imginicio"><%= image_tag("comentabg.png") %></div>
			<p>Comenta</p>
		</div>
		<div class="op">
			<h2>6.</h2>
			<div class="imginicio"><%= image_tag("redbg.png") %></div>
			<p>Red de Contacto</p>
		</div>
	</article>
</div>-->