<div class="homeline">
	<div class="contenedor">
		<div class="minus1024">La resolución mínima actual es de 1024px</div>
		<div class="hlcol1">
			<h1>BioModelos<h1>
			<h2>Aplicación de Consulta y Validación</br>
			de Modelos de Distribución de</br>
			Especies en Colombia</h2>
			<div class="lbabimg2"></div>
		</div>
		<div class ="intro2 w1024" id="banner-slide">

			<ul class="bjqs">
          		<li>
					<aside class="activity2">
						<h5>Actividad biomodelos</h5>
						<ul>
					        <li class="actfeed">
								<div class="minavatar"><%= image_tag("minavatar.png") %></div>
					        	<div class="clearfix">
						            <a class="feeduser" href="#">LBAB</a>
						            <div class="feedtime">hace 1 hora</div>
						        </div>
					            <p class="feedcontent">Agregado modelo especie <em>Lorem Ipsum</em></p>
					        </li>
					        <li class="actfeed">
								<div class="minavatar"><%= image_tag("minavatar.png") %></div>
					        	<div class="clearfix">
						            <a class="feeduser" href="#">Camilo Buitrago</a>
						            <div class="feedtime">hace 2 horas</div>
						        </div>
					            <p class="feedcontent">Edición Modelo No. 3 y No. 4 <em>Familia Ramphastidae</em></p>
					        </li>
					        <li class="actfeed">
								<div class="minavatar"><%= image_tag("minavatar.png") %></div>
					        	<div class="clearfix">
						            <a class="feeduser" href="#">Petet Diaz</a>
						            <div class="feedtime">Septiembre 23 2013</div>
						        </div>
					            <p class="feedcontent">Agregado modelo especie <em>Lorem Ipsum</em></p>
					        </li>
					        <li class="actfeed">
								<div class="minavatar"><%= image_tag("minavatar.png") %></div>
					        	<div class="clearfix">
						            <a class="feeduser" href="#">LBAB</a>
						            <div class="feedtime">Septiembre 20 2013</div>
						        </div>
					            <p class="feedcontent">Agregado modelo especie <em>Lorem Ipsum</em></p>
					        </li>
					        <li class="actfeed">
								<div class="minavatar"><%= image_tag("minavatar.png") %></div>
					        	<div class="clearfix">
						            <a class="feeduser" href="#">Camilo Buitrago</a>
						            <div class="feedtime">hace 2 horas</div>
						        </div>
					            <p class="feedcontent">Edición Modelo No. 3 y No. 4 <em>Familia Ramphastidae</em></p>
					        </li>
					    </ul>
					</aside>
				</li>
				<li><canvas id="myChart" width="380" height="260"></canvas></li>
		        <li>b</li>
	        </ul>
		</div>
	</div>
</div>

<div class="clearfix"></div>
<article class="opciones">
	<div class="contenedor">

		<%= link_to models_visor_path do %>
		<div class="op">
			<div class="imginicio op1"></div>
			<div class="fondoinicio">
				<h1>CONSULTA</h1>
				<h6>Consulta las hipótesis de distribución disponibles por especie.</h6>
			</div>
		</div>
		<% end %>

		<%= link_to new_user_session_path do %>
		<div class="op">
			<div class="imginicio op2"></div>
			<div class="fondoinicio">
				<h1>INGRESA</h1>
				<h6>Une tu conocimiento a la red de expertos.</h6>
			</div>
		</div>
		<% end %>

		<%= link_to models_visor_path do %>
		<div class="op">
			<div class="imginicio op3"></div>
			<div class="fondoinicio">
				<h1>CONTRIBUYE</h1>
				<h6>Mejora los modelos evaluando y editando las hipótesis de distribución.</h6>
			</div>
		</div>
		<% end %>
		
		<div class="op">
			<div class="imginicio op4"></div>
			<div class="fondoinicio">
				<h1>INTERACTUA</h1>
				<h6>Intercambia información con expertos en tus grupos taxonómicos de interés.</h6>
			</div>
		</div>

	</div>
</article>
<div class="fondomaps">
	<div class="contenedor fixfooter">
		<section class="introtext">
				<h5>El primer objetivo de BioModelos es generar un canal de comunicación entre expertos y el LBAB, para así <strong>verificar</strong> los datos y modelos obtenidos por el LBAB y conseguir resultados robustos que acerquen a todos los usuarios a una información más precisa sobre la distribución de especies en Colombia.</h5>
				<h5>
				El segundo objetivo es compartir abiertamente los datos y resultados generados por el LBAB al público general, concretamente los modelos de distribución de especies en Colombia, para que sean utilizados como <strong>referencia</strong> en estudios e investigaciones.</h5>
		</section>
	</div>
</div>


<script>
    $(document).ready(function(e) {
        $('#banner-slide').bjqs({
            animtype      : 'slide',
            height        : 260,
            width         : 380,
            responsive    : true
        });
        e.preventDefault();
    });
</script>

<!--		<div class="op">
			<div class="imginicio"><%= image_tag("comentabg.png") %></div>
			<div class="fondoinicio hide"><%= image_tag("comenta.png") %></div>
		</div>
		<div class="op">
			<div class="imginicio"><%= image_tag("redbg.png") %></div>
			<div class="fondoinicio hide"><%= image_tag("red.png") %></div>
		</div>
		<div class="lineop">
			<h3 class="usu">opciones como usuario</h3>
			<h3 class="exp">opciones como experto</h3>
		</div>
<script>

$(document).ready(function(){
    $('.op').hover(
		function() {$(this).find('.imginicio').addClass('hide').stop();
		$(this).find('.fondoinicio').removeClass('hide').stop();},

	function() {$(this).find('.fondoinicio').addClass('hide').stop();
     $(this).find('.imginicio').removeClass('hide').stop();}
	);
});


</script>-->
