<div class="homeline">
	<div class="contenedor">
		<div class="hlcol1">
			<h1>BioModelos</h1>
			<h2>Aplicación de Consulta y Validación</br>
			de Modelos de Distribución de</br>
			Especies en Colombia<a href="#vermas" class="vermas">+ ver más</a></h2>
			<div class="lbabimg2"></div>
		</div>
		<div class ="intro2" id="banner-slide">

			<ul class="bjqs">
          		<li>
					<aside class="activity2">
						<h5>Actividad biomodelos</h5>
						<ul>
					        <li class="actfeed">
								<div class="minavatar"><%= image_tag("minavatar2.jpg") %></div>
					        	<div class="clearfix">
						            <a class="feeduser" href="#">LBAB</a>
						            <div class="feedtime">24/09/2014</div>
						        </div>
					            <p class="feedcontent">Después de una depuración de datos, se corrieron nuevos modelos en el mes de agosto llevando el número de especies modeladas a 5786</p>
					        </li>
					        <li class="actfeed">
								<div class="minavatar"><%= image_tag("minavatar2.jpg") %></div>
					        	<div class="clearfix">
						            <a class="feeduser" href="#">LBAB</a>
						            <div class="feedtime">26/06/2014</div>
						        </div>
					            <p class="feedcontent">Realizado segundo taller de Aves Acuaticas en Bogotá</p>
					        </li>
					        <li class="actfeed">
								<div class="minavatar"><%= image_tag("minavatar2.jpg") %></div>
					        	<div class="clearfix">
						            <a class="feeduser" href="#">LBAB</a>
						            <div class="feedtime">25/06/2014</div>
						        </div>
					            <p class="feedcontent">Se actualizaron 81 especies y agregaron 5 nuevas especies de aves acuáticas</p>
					        </li>
					        <li class="actfeed">
								<div class="minavatar"><%= image_tag("minavatar2.jpg") %></div>
					        	<div class="clearfix">
						            <a class="feeduser" href="#">LBAB</a>
						            <div class="feedtime">15/05/2014</div>
						        </div>
					            <p class="feedcontent">Rediseños a la aplicación se ponen en línea</p>
					        </li>
					        <li class="actfeed">
								<div class="minavatar"><%= image_tag("minavatar2.jpg") %></div>
					        	<div class="clearfix">
						            <a class="feeduser" href="#">LBAB</a>
						            <div class="feedtime">24/04/2014</div>
						        </div>
					            <p class="feedcontent">Realizado primer taller de Aves Acuaticas en Cali</p>
					        </li>
					        <li class="actfeed">
								<div class="minavatar"><%= image_tag("minavatar2.jpg") %></div>
					        	<div class="clearfix">
						            <a class="feeduser" href="#">LBAB</a>
						            <div class="feedtime">22/05/2014</div>
						        </div>
					            <p class="feedcontent">16 nuevas especies agregadas a BioModelos</p>
					        </li>
					        <li class="actfeed">
								<div class="minavatar"><%= image_tag("minavatar2.jpg") %></div>
					        	<div class="clearfix">
						            <a class="feeduser" href="#">LBAB</a>
						            <div class="feedtime">05/03/2014</div>
						        </div>
					            <p class="feedcontent">Presentación de la herramienta al proyecto Ecopetrol en Choachi</p>
					        </li>
					        <li class="actfeed">
								<div class="minavatar"><%= image_tag("minavatar2.jpg") %></div>
					        	<div class="clearfix">
						            <a class="feeduser" href="#">LBAB</a>
						            <div class="feedtime">03/03/2014</div>
						        </div>
					            <p class="feedcontent">Primera versión Beta de BioModelos en línea</p>
					        </li>
					    </ul>
					</aside>
				</li>
				<li><%= image_tag("fotobogota.jpg") %></li>
		        <li><%= image_tag("info.png") %></li>
				<li><%= image_tag("talleres2.jpg") %></li>
	        </ul>
		</div>
	</div>
</div>

<div class="clearfix"></div>
<article class="opciones">
	<div class="contenedor">

		<%= link_to models_visor_path do %>
		<div class="op">
			<div class="imginicio op1"></div>
			<div class="fondoinicio">
				<h1>CONSULTA</h1>
				<h6>Consulta las hipótesis de distribución disponibles por especie.</h6>
			</div>
		</div>
		<% end %>

		<%= link_to new_user_session_path do %>
		<div class="op">
			<div class="imginicio op2"></div>
			<div class="fondoinicio">
				<h1>INGRESA</h1>
				<h6>Une tu conocimiento a la red de expertos.</h6>
			</div>
		</div>
		<% end %>

		<%= link_to models_visor_path do %>
		<div class="op">
			<div class="imginicio op3"></div>
			<div class="fondoinicio">
				<h1>CONTRIBUYE</h1>
				<h6>Mejora los modelos evaluando y editando las hipótesis de distribución.</h6>
			</div>
		</div>
		<% end %>
		
		<div class="op">
			<div class="imginicio op4"></div>
			<div class="fondoinicio">
				<h1>INTERACTUA</h1>
				<h6>Intercambia información con expertos en tus grupos taxonómicos de interés.</h6>
			</div>
		</div>

	</div>
</article>

	<div class="homeline2">
	</div>

	<div class="contenedor" id="vermas">
		<section class="introtext">
			<h1>¿QUE HACE BIOMODELOS?</h1>
			<h2>Mapas integrativos entre expertos y modelos de distribución.</h2>
			<h5>BioModelos es una herramienta digital que permite la <strong>comunicación entre expertos</strong> en biodiversidad para el desarrollo de modelos de distribución de las especies existentes en Colombia de forma colaborativa y abierta.</br></br>
			Esta iniciativa surge con el fin de acercar a investigadores, instituciones gubernamentales, ONGs y ciudadanos, a una <strong>información precisa y validada</strong> por expertos sobre la distribución de especies en Colombia, que sirva como referencia para estudios y la toma de decisiones sobre biodiversidad.</h5>
		</section>
		<div class="variables">
			<div class="variable1 var1">
				<h3>MODELOS DE</br>
					DISTRIBUCIÓN</h3>
					<p>Se ofrecen modelos estadísticos fácilmente actualizables</p>
			</div>
			<div class="variable2 var2">
			</div>
			<div class="variable1 var1b">
				<h3>COMUNIDAD</br>
					DE EXPERTOS</h3>
					<p>Validación por el grupo de expertos de la comunidad</p>
			</div>
			<div class="variable3">
				<div class="var3a">
					<h4>EVALUAR</h4>
					<p>Identificar los mejores modelos de especies</p>
				</div>
				<div class="var3b">
					<h4>EDITAR</h4>
					<p>Ocurrencias, sobrepredicción o subpredicción</p>
				</div>
				<div class="var3c">
					<h4>ALERTAR</h4>
					<p>Reportar inconsistencias en los datos</p>
				</div>
			</div>
		</div>
	</div>


<div class="clearfix fixfooter"></div>
