<ul class="comperfil" id="altcomp">
	<% @reviews.each do |review| %>
    <!-- <a href="#" class="vermodelo mright"><%= image_tag "borrar.png", title:"Borrar" %></a>
    <a href="#" class="vermodelo"><%= image_tag "ver.png", title:"Ver" %></a> -->
	<div class="minavatar2"><%= image_tag("editicon.png") %></div>
		<li class="datosaportes">
	      <a class="feeduserp" href="#"><%= Species.find(Model.find(review.model_id).species_id).sci_name %></a>
	      <div class="feedtimep"><%= review.created_at %></div>
	      <p class="feedcontentp"><%= Model.find(review.model_id).description %></p>
    	</li>
	<% end %>
</ul>