<section class="resultados2">
	<div class="titulosp"><%= @species.sci_name %></div>

	<% @species_reviews.each do |sr| %>
		<a href="#" class="vermodelo">
			<%= image_tag "ver.png", title:"Ver" %>
			<%= hidden_field(:sp_review, :geoJSON, :value => sr.geoJSON) %>
		</a>
	<div class="minavatar2"><%= image_tag("editicon.png") %></div>
	<li class="datosaportes">
		<a class="feeduserp"><%= User.find(sr.user_id).name %></a>
		<div class="feedtimep"><%= sr.updated_at %></div>
		<p class="feedcontentp"><%= Model.find(sr.model_id).description %></p>
	<% end %>
	</li>
</section>

<script>
	 	$('.vermodelo').click(function (e) {
            // $('.showmodels, .cajabusqueda, .selectores').hide ('slow');
            e.preventDefault(); // Prevent link from following its href
            _mapVisorModule.deactivateEdition();
            $('#saveBtn').hide();
            $('#editBtn').show();
            //_mapVisorModule.loadReview($('#sp_review_geoJSON').val());
            _mapVisorModule.loadReview($(this).find('input').attr('value'));
     	});
</script>