<section class="resultados2">
	<div class="titulosp"><%= @species.sci_name %></div>

	<% @species_reviews.each do |sr| %>
		<a href="#" class="vermodelo" id="load-link-review"><%= image_tag "ver.png", title:"Ver" %></a>
	<div class="minavatar2"><%= image_tag("editicon.png") %></div>
	<li class="datosaportes">
		<a class="feeduserp"><%= sr.user_id %></a>
		<div class="feedtimep"><%= sr.updated_at %></div>
		<p class="feedcontentp"><%= sr.model_id %></p>
		<%= hidden_field(:sp_review, :geoJSON, :value => sr.geoJSON) %>
	<% end %>
	</li>
</section>

<script>
	 	$('#load-link-review').click(function (e) {
            //_mapVisorModule.loadReview($('#sp_review_geoJSON').val());
            // $('.editControls,.edicionbar').show('slow');
            // $('.showmodels, .cajabusqueda, .selectores').hide ('slow');
            e.preventDefault(); // Prevent link from following its href
            _mapVisorModule.deactivateEdition();
            _mapVisorModule.loadReview($('#sp_review_geoJSON').val());
     	});
</script>