<h1>Reviews#index</h1>

<table>
	<tr>
	   	<th><%= "User ID" %></th>
	    <th><%= "Model ID" %></th>
	    <th><%= "GeoJSON" %></th>
	</tr>
	<%= @reviews.find_each do |review| %>
		<tr>
	      <td><%= User.find(review.user_id).email %></td>
	      <td><%= review.model_id %></td>
	      <td><%= review.geoJSON %></td>
    	</tr>
	<% end %>
</table>

